.glossary__content-factions {
  margin: 0 auto;
  max-width: 87.5rem;
  margin-top: 2rem;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid rgba($color: $black, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
  &--aside-factions {
    font-size: 1.375rem;
    .select-container {
      position: relative;
      margin: 0 auto;
      display: inline-block;
      width: 100%;
      max-width: 32.5rem;
      &::after {
        content: '';
        pointer-events: none;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid rgb(0, 0, 0);
      }
      select {
        width: 100%;
        margin: 0 auto;
        padding: 1rem 1rem;
        font-size: 1.25rem;
        font-family: $font-bold;
        text-align: start;
        text-transform: capitalize;
        border: 2px solid $black;
        background-color: transparent;
        appearance: none;

        &:focus {
          outline: none;
        }

        option {
          background-color: $yellow;
          &:focus {
            background-color: $black;
          }
        }
      }
    }
  }
  ul {
    display: none;
    list-style: none;

    li {
      padding: 0.5rem;
      font-size: 1.25rem;
      font-family: $font-bold;
      text-align: start;
      cursor: pointer;
    }
    .activeFaction {
      color: $yellow;
      background-color: $black;
    }
  }
}
@media (min-width: 1024px) {
  .glossary__content-factions {
    display: grid;
    grid-template-columns: 40% 1fr;
    &--aside-factions {
      max-height: 33.75rem;
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
      .select-container {
        display: none;
      }
      ul {
        display: block;
        column-count: 1;
      }
    }
  }
}
@media (min-width: 1440px) {
  .glossary__content-factions {
    &--aside-factions {
      ul {
        column-count: 2;
      }
    }
  }
}
