.summary-section {
  overflow: hidden;
  p {
    max-width: 56ch;
    margin: 0 auto;
    padding: 2.25rem 2rem 3rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-bold;
  }
  p:last-child {
    padding-top: 3rem;
  }
  &__img-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    &--img-left {
      position: relative;
      width: 80%;
      margin-right: auto;
      .corner-transparent {
        z-index: 1;
        height: 25px;
        bottom: 0;
        left: 0px;
        display: block;
        position: absolute;
        border-left: 24px solid $yellow;
        border-top: 24px solid transparent;
      }
    }
    &--img-right {
      position: relative;
      width: 80%;
      margin-left: auto;
      .corner-transparent {
        z-index: 1;
        height: 25px;
        top: 0;
        right: 0px;
        display: block;
        position: absolute;
        border-right: 24px solid $yellow;
        border-bottom: 24px solid transparent;
      }
    }
  }
}
@media (min-width: 550px) {
  .summary-section {
    p {
      padding-bottom: 6rem;
    }
    p:last-child {
      padding-top: 5rem;
    }
    &__img-container {
      max-width: 1000px;
      flex-direction: row;
      &--img-left {
        z-index: 1;
        width: 50%;
        top: -40px;
        left: 20px;
      }
      &--img-right {
        width: 50%;
        bottom: -40px;
        right: 20px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .summary-section {
    p {
      padding: 6.25rem 2rem 8rem;
      font-size: 2.5rem;
    }
    p:last-child {
      padding-top: 8rem;
    }
  }
}
